DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=False
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME

# Kiritilmasa ham admin/admin12345 avtomatik yaratiladi.
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin12345
ADMIN_EMAIL=admin@alazizacademy.uz
RESET_ADMIN_PASSWORD=True

FRONTEND_PUBLIC_URL=https://your-site.netlify.app
CORS_ALLOWED_ORIGINS=https://your-site.netlify.app
CSRF_TRUSTED_ORIGINS=https://your-site.netlify.app
SERVE_MEDIA=True
